<div class="container">
  <div class="left_div">
    <div *ngIf="toggleInfoWords">
      <h2>Список доступных слов</h2>
      <mat-form-field appearance="standard" class="form-field" color="accent">
        <mat-label>Поиск</mat-label>
        <input matInput type="text" autocomplete="off" [(ngModel)]="findWord" (input)="checkFind()">
      </mat-form-field>

      <app-toggle-turn appSound="control" (onReverse)="reverseArray($event)"></app-toggle-turn>

      <div class="words_div">
        <app-super-lite-word
          *ngFor="let word of showWords"
          [word]="word"
          (onClick)="selectWordForGroup()"
          appSound="control"
        ></app-super-lite-word>

      </div>
    </div>
    <div class="info_group" *ngIf="!toggleInfoWords">
      <h2>Справка</h2>
      <p>
        Группы служат для объединения слов по разным
        категориям и критериям, что делает изучение языка более удобным.
      </p>
      <p>
        Для добавления новой группы нажмите соответствующую кнопку в правой колонке, при этом в правой колонке появятся
        поле для ввода названия группы, информация о содержании группы и кнопки управления. В левой колонке появится
        список доступных слов
        для добавления в группу. Данный список соответствует всему списку слов содержавшихся в словаре на данный момент.
        Чтобы добавить необходимое слово в группу, следует кликнуть по нему, при этом, само слово в списке станет
        "отмеченным",
        а также оно появится в правой колонке вкладки в разделе "Содержание группы". Наоборот, чтобы удалить слово из
        группы, следует кликнуть по "отмеченному" слову в левой колонке, при этом оно перестанет быть "отмеченным" и
        исчезнет из правой колонки. Также присутствует поиск по словарю, что обеспечивает удобность работы.
      </p>
      <p>
        Для просмотра и редактирования группы следует кликнуть либо по карточке группы, либо по кнопке "Редактировать".
        При этом в левой колонке будет отображен список слов словаря, причем слова, которые содержатся в текущей группе,
        будут "отмеченными". В правой колонке будет отображена информация о содержании группы. Добавление и удаление
        слов в группе
        производится методом, описанным выше. Для того, чтобы сохранить изменения следует кликнуть по кнопке "Сохранить
        изменения". Чтобы выйти из режима редактирования кликните по "отмеченной" карточке. Также можно переключаться
        между карточками групп кликом по ним.
      </p>
      <p>
        Для удаления группы кликните по кнопке "Удалить" на карточке соответствующей группы. При этом появится
        диалоговое окно
        для подтверждения вашего намерения, где можно будет согласиться или отменить действие.
      </p>
      <p>
        Чтобы приступить к изучению необходимой группы слов, следует кликнуть по кнопке "Изучить" на карточке
        соответствующей группы,
        после чего будет открыта вкладка "Изучение", на которой будут использованы слова из выбранной группы.
      </p>
    </div>
  </div>

  <div class="center_div">
    <div style="color: white; text-align: center" *ngIf="groupsArray.length === 0">
      <h1>Список групп пуст.</h1>
    </div>
    <div class="container_words_div">
      <app-card *ngFor="let group of groupsArray" [group]="group"
                (onSelected)="selectGroup($event)"></app-card>
    </div>
  </div>

  <div class="right_div">

    <p>Действия над группами слов</p>
    <button appSound="btn" mat-raised-button color="warn" (click)="addNewGroup()"
            [disabled]="data.dictionary.size === 0">Добавить
      новую группу
    </button>

    <div *ngIf="formNewGroup">
      <mat-form-field class="form-field" color="accent">
        <mat-label>Заголовок новой группы</mat-label>
        <input #inputElement matInput type="text" autocomplete="off" placeholder="Максимум 30 символов" [maxLength]="30"
               [(ngModel)]="nameNewGroup">
      </mat-form-field>
      <div class="tc">
        <h3>Содержание группы ({{tempSelectedWords.length}})</h3>
        <small>Отметьте слова в левой колонке</small>
      </div>
      <div class="content_group">
        <p *ngFor="let item of tempSelectedWords" [innerText]="item"></p>
      </div>
      <button appSound="btn" mat-raised-button color="warn" (click)="saveNewGroup()"
              [disabled]="nameNewGroup.trim().length === 0">
        Сохранить
      </button>
      <button appSound="btn" mat-raised-button color="warn" (click)="cancelCreateNewGroup()">Отмена</button>
    </div>

    <div *ngIf="infoSelectedGroup">
      <mat-divider></mat-divider>
      <h3>Содеожание группы <strong>{{nameSelectedGroup}}</strong> ({{tempSelectedWords.length}})</h3>
      <div class="content_group">
        <p *ngFor="let item of tempSelectedWords" [innerText]="item"></p>
      </div>
      <button appSound="btn" mat-raised-button color="warn" (click)="saveChangeGroup()">Сохранить изменения</button>
    </div>

  </div>

</div>
