.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 103px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  border-bottom: 1px solid white;

  div {
    padding: 20px;
  }

  .center_div {
    border-left: 1px dashed white;
    border-right: 1px dashed white;
    position: relative;

    .container_words_div {
      overflow: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 1rem;
      position: absolute;
      bottom: 5px;
      top: 20px;
      left: 20px;
      right: 5px;
      padding: 5px 10px 0 0;
    }
  }


  .left_div {
    cursor: pointer;
    color: white;
    font-size: 1rem;
    overflow: hidden;
    position: relative;

    mat-form-field {
      bottom: 15px;
    }

    div {
      position: absolute;
      left: 20px;
      right: 10px;
      bottom: 15px;
      top: 15px;
      padding: 0;
    }

    h2 {
      margin: 0;
    }

    .form-field {
      font-size: 1rem;
      color: white;
    }

    .words_div {
      position: absolute;
      bottom: 0;
      top: 95px;
      left: -10px;
      right: 0;
      overflow: auto;
    }

    .info_group {
      font-size: 0.875em;
      overflow: auto;
    }
  }

  .right_div {
    color: white;

    mat-divider {
      margin: 1rem 0;
      border-top-color: rgba(255, 255, 255, 0.5);
    }

    button {
      margin-right: 1rem;
      margin-bottom: 1rem;
    }

    div {
      padding: 0;

      .form-field {
        font-size: 1rem;
        width: 80%;
      }

      .content_group {
        margin-bottom: 1rem;
        max-height: 525px;
        overflow: auto;

        p {
          padding: 0;
          margin: 0;
        }
      }

      button {
        margin-bottom: 0;
      }
    }

    .tc {
      margin-bottom: 1rem;

      h3 {
        margin-bottom: 0;
      }
    }
  }
}
