<div class="container">
  <div class="left_div">
    <div *ngIf="toggleInfoWords">
      <h2>Список доступных слов</h2>
      <mat-form-field class="form-field" color="accent">
        <mat-label>Поиск</mat-label>
        <input matInput type="text" autocomplete="off" [(ngModel)]="findWord" (input)="checkFind()">
      </mat-form-field>

      <div class="words_div">
        <app-super-lite-word
          *ngFor="let word of showWords"
          [word]="word"
          (onClick)="selectWordForGroup()"
        ></app-super-lite-word>

      </div>
    </div>
    <div *ngIf="!toggleInfoWords">
      <h2>Справка</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus expedita incidunt iste labore molestias rem
        voluptatem. Doloribus illo obcaecati vel!</p>
    </div>
  </div>

  <div class="center_div">
    <div class="container_words_div">
      <app-card *ngFor="let group of groupsArray" [group]="group"
                (onSelected)="selectGroup($event)"></app-card>
    </div>
  </div>

  <div class="right_div">

    <p>Действия над группами слов</p>
    <button mat-raised-button color="warn" (click)="addNewGroup()">Добавить новую группу</button>

    <div *ngIf="formNewGroup">
      <mat-form-field class="form-field" color="accent">
        <mat-label>Заголовок новой группы</mat-label>
        <input #inputElement matInput type="text" autocomplete="off" placeholder="Максимум 30 символов" [maxLength]="30" [(ngModel)]="nameNewGroup">
      </mat-form-field>
      <div class="tc">
      <h3>Содержание группы ({{tempSelectedWords.length}})</h3>
      <small>Отметьте слова в левой колонке</small>
      </div>
      <div class="content_group">
        <p *ngFor="let item of tempSelectedWords" [innerText]="item"></p>
      </div>
      <button mat-raised-button color="warn" (click)="saveNewGroup()" [disabled]="nameNewGroup.trim().length === 0">Сохранить</button>
      <button mat-raised-button color="warn" (click)="cancelCreateNewGroup()">Отмена</button>
    </div>

    <div *ngIf="infoSelectedGroup">
      <mat-divider></mat-divider>
      <h3>Содеожание группы <strong>{{nameSelectedGroup}}</strong> ({{tempSelectedWords.length}})</h3>
      <div class="content_group">
        <p *ngFor="let item of tempSelectedWords" [innerText]="item"></p>
      </div>
      <button mat-raised-button color="warn" (click)="saveChangeGroup()">Сохранить изменения</button>
    </div>

  </div>

</div>
