<div class="container">
  <div class="left_div">
    <div>
      <p><b>Англи́йский язы́к</b> (самоназвание — English, the English language) — язык англо-фризской подгруппы
        западной группы германской ветви индоевропейской языковой семьи. Английский язык — важнейший международный язык,
        что является следствием колониальной политики Британской империи в XIX веке и мирового влияния США в XX—XXI
        веках. Существует значительное разнообразие диалектов и говоров английского языка.</p>
      <p>Английский язык возник в раннем Средневековье как язык части германских племён, вторгшихся в Британию. Он стал
        родным для большинства населения Великобритании, а с территориальным ростом Британской империи распространился в
        Азию, Африку, Северную Америку и Австралию. После обретения независимости британскими колониями английский язык
        остался либо родным языком большей части населения (США, Канада, Австралия, Новая Зеландия), либо одним из
        официальных языков (Индия, Нигерия). Английский язык изучают в образовательных учреждениях многих стран как
        иностранный.</p>
    </div>
  </div>

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

  <div class="center_div">

    <div *ngIf="data.dictionary.size !== 0; else main">
      <h1 style="text-align: center">Переведите слово:</h1>
      <p class="word_p">{{wordForTranslate}}</p>

      <div class="control_div">
        <div class="infoStat">
          <p>{{data.index}} из {{data.numberOfWords}}</p>
          <p *ngIf="errorsTranslate !== 0">Ошибок: <span>{{errorsTranslate}}</span></p>
        </div>
        <mat-divider></mat-divider>
        <mat-form-field class="form-field" color="accent">
          <mat-label>Введите перевод</mat-label>
          <input #inputElement matInput type="text" autocomplete="off"
                 [(ngModel)]="translate"
                 (keydown.enter)="checkTranslation()"
                 (keydown.control)="nextWord()"
                 (keydown.delete)="translate = ''"
          >
        </mat-form-field>
        <p [ngStyle]="{
    opacity: isShowTranslate ? 1 : 0
    }" class="translate_p">{{trueTranslate}}</p>
        <div class="btn_ctrl_div">
          <button mat-raised-button color="warn"
                  (click)="checkTranslation()"
                  [disabled]="translate.trim().length === 0 || sentence.word === ''">
            Проверить (Enter)
          </button>
          <button mat-raised-button color="warn" (click)="nextWord()">Следующее слово (Ctrl)</button>
          <button mat-raised-button color="warn" (click)="previousWord()" [disabled]="data.setting.random">Предидущее
            слово
          </button>
          <button mat-raised-button color="warn" (click)="showTranslation()" [disabled]="trueTranslate === '0'">Показать
            перевод
          </button>
        </div>

        <mat-divider></mat-divider>
        <p *ngIf="isShowAnswer" class="answer_p">{{answer}}</p>
      </div>
    </div>

    <ng-template #main>
      <div>
        <h1>Словарь пока пуст!</h1>
        <p>Давайте добавим в него несколько слов и выражений! Скопируйте следующие выражения и вставте в поле для ввода:</p>
<pre>
Seem = кажется, казаться
Happen = происходить, случаться
Fluently = свободно
Wash up the dishes = мыть посуду
Relax = отдыхать
</pre>
        <mat-form-field class="form-field" color="accent">
          <mat-label>Добавление новых слов в словарь.</mat-label>
          <textarea matInput placeholder="Формат ввода: << слово = перевод >>" autocomplete="off"
                    [(ngModel)]="textForDictionary"
          ></textarea>
        </mat-form-field>

        <div *ngIf="textForDictionary">
          <p>Отлично! Теперь осталось только добавить их в словарь, для этого нажмите кнопку "Добавить". Дальнейшие
          действия со словарем можно производить на вкладке "Словарь".</p>
          <button mat-raised-button color="warn" (click)="addTestWords()">Добавить</button>
        </div>
      </div>
    </ng-template>
  </div>

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

  <div class="right_div">
    <mat-radio-group [value]="data.setting.language" color="accent" class="sel_lang" (change)="changeLanguage($event)">
      <strong>Перевод:</strong>
      <mat-radio-button value="ru">Русский - Английский</mat-radio-button>
      <mat-radio-button value="en">Английский - Русский</mat-radio-button>
    </mat-radio-group>

    <mat-divider></mat-divider>

    <section class="sel_lang">
      <strong>Порядок слов:</strong>
      <mat-checkbox color="accent" [checked]="data.setting.random" (change)="data.setting.random = $event.checked">
        Случайный порядок
      </mat-checkbox>
      <mat-checkbox color="accent" [checked]="data.setting.repeat" (change)="data.setting.repeat = $event.checked">
        Повтор слов
      </mat-checkbox>
    </section>

    <mat-divider></mat-divider>

    <mat-radio-group [value]="data.setting.learnWords" color="accent" class="sel_lang"
                     (change)="changeLearnWords($event)">
      <strong>Использовать:</strong>
      <mat-radio-button value="all">Весь словарь</mat-radio-button>
      <mat-radio-button value="words">Выделенные слова</mat-radio-button>
      <mat-radio-button value="groups">Группу слов</mat-radio-button>
    </mat-radio-group>

  </div>

  <button class="sound_btn" mat-fab [color]="colorSoundBtn" (click)="toggleSound()">
    <mat-icon>{{iconSound}}</mat-icon>
  </button>

</div>
