<div class="container">
  <div class="left_div">
    <div style="font-size: 1rem">
      <strong>Используется весь словарь.</strong>
      <br><br>
      <p><b>Англи́йский язы́к</b> (самоназвание — English, the English language) — язык англо-фризской подгруппы
        западной группы германской ветви индоевропейской языковой семьи. Английский язык — важнейший международный язык,
        что является следствием колониальной политики Британской империи в XIX веке и мирового влияния США в XX—XXI
        веках. Существует значительное разнообразие диалектов и говоров английского языка.</p>
      <p>Английский язык возник в раннем Средневековье как язык части германских племён, вторгшихся в Британию. Он стал
        родным для большинства населения Великобритании, а с территориальным ростом Британской империи распространился в
        Азию, Африку, Северную Америку и Австралию. После обретения независимости британскими колониями английский язык
        остался либо родным языком большей части населения (США, Канада, Австралия, Новая Зеландия), либо одним из
        официальных языков (Индия, Нигерия). Английский язык изучают в образовательных учреждениях многих стран как
        иностранный.</p>
    </div>
  </div>

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

  <div class="center_div">
    <h1 style="text-align: center">Переведите слово:</h1>
    <p class="word_p">Lorem ipsum</p>
    <p>10 из 1000</p>
    <mat-divider></mat-divider>
    <mat-form-field class="form-field" color="accent">
      <mat-label>Введите перевод</mat-label>
      <input matInput type="text" autocomplete="off">
    </mat-form-field>
    <p [ngStyle]="{
    opacity: isTranslate ? 1 : 0
    }" class="translate_p"> fgfdg</p>
    <div class="btn_ctrl_div">
      <button mat-raised-button color="warn" (click)="checkTranslation()">Проверить (Enter)</button>
      <button mat-raised-button color="warn">Следующее слово (Ctrl)</button>
      <button mat-raised-button color="warn">Предидущее слово</button>
      <button mat-raised-button color="warn" (click)="isTranslate = true">Показать перевод</button>
    </div>

    <mat-divider></mat-divider>
    <p *ngIf="isShowAnswer" class="answer_p">It`s wrong!</p>
  </div>

  <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

  <div class="right_div">
    <mat-radio-group color="accent" class="sel_lang">
      <strong>Перевод:</strong>
      <mat-radio-button value="en" [checked]="true">Русский - Английский</mat-radio-button>
      <mat-radio-button value="ru">Английский - Русский</mat-radio-button>
    </mat-radio-group>

    <mat-divider></mat-divider>

    <section class="sel_lang">
      <strong>Порядок слов:</strong>
      <mat-checkbox color="accent">Случайный порядок</mat-checkbox>
      <mat-checkbox color="accent">Повтор слов</mat-checkbox>
    </section>

    <mat-divider></mat-divider>

    <mat-radio-group color="accent" class="sel_lang">
      <strong>Использовать:</strong>
      <mat-radio-button value="all" [checked]="true">Весь словарь</mat-radio-button>
      <mat-radio-button value="words">Выделенные слова</mat-radio-button>
      <mat-radio-button value="groups">Группу слов</mat-radio-button>
    </mat-radio-group>

    <button class="sound_btn" mat-fab color="accent">
      <mat-icon>volume_up</mat-icon>
    </button>
  </div>

</div>
