<!-- <app-lite-word></app-lite-word> -->
<div class="container">
  <div class="left_div" (click)="isScrollTextInfo = !isScrollTextInfo">
    <div [ngStyle]="{overflow: isScrollTextInfo ? 'auto' : 'hidden'}">
      <h2>30 забавных фактов английского языка.</h2>
      <p>
        1. Буква «Е» – самая часто используемая буква английского языка.
        А вот буква «Q» – самая редкая.
      </p>
      <p>
        2. Также «Q» – единственная буква алфавита, которой нет ни в одном названии американских штатов.
      </p>
      <p>
        3. Большинство английских слов начинается с буквы «S».
      </p>
      <p>
        4. В слове Goddessship (божественность) буква «S» повторяется 3 раза подряд.
      </p>
      <p>
        5. «I am.» – самое короткое полноценное предложение в английском языке.
      </p>
      <p>
        6. Предложение «The quick brown fox jumps over the lazy dog» (Быстрая коричневая лиса прыгает через ленивую
        собаку) интересно тем, что в нем встречаются все буквы английского алфавита. Именно поэтому оно используется для
        демонстрации различных шрифтов.
      </p>
      <p>
        7. Самое длинное слово в английском языке состоит из 45 букв: «pneumonoultramicroscopicsilicovolcanoconiosis».
        Это тип заболевания легких, вызванный вдыханием пепла и пыли с песком.
      </p>
      <p>
        8. Нет слов в английском языке, которые рифмовались бы со словами «month», «orange», «silver» и «purple».
      </p>
      <p>
        9. «Underground» – единственное слово английского языка, которое начинается и заканчивается на «und».
      </p>
      <p>
        10. В английском языке есть предложение из 8 одинаковых слов подряд (без знаков препинания): «Buffalo buffalo
        Buffalo buffalo buffalo buffalo Buffalo buffalo». Перевести его можно так: «Бизоны из Баффало, напуганные
        другими бизонами из Баффало, пугают бизонов из Баффало».
      </p>
      <p>
        11. В середине ХХ века из-за опечатки в английских словарях появилось новое слово «dord», которое не имело
        никакого значения. Слово продержалось в словарях с 1932 по 1940 год. Позже оно стало известно как «ghost word»
        (несуществующее слово: слово-призрак).
      </p>
      <p>
        12. Первый словарь английского языка был составлен в 1775 году.
      </p>
      <p>
        13. Вплоть до XV века в английском языке не использовались знаки препинания.
      </p>
      <p>
        14. Английский – официальный язык неба. Неважно, из какой страны пилот, на международных рейсах все общаются на
        английском.
      </p>
      <p>
        15. Самая сложная скороговорка в английском языке – это «The sixth sick sheik’s sixth sheep’s sick» (Шестая овца
        шестого больного шейха больна). Попробуйте произнести!
      </p>
      <p>
        16. Примерно одно новое слово появляется в английском языке каждые два часа. Около 4000 новых слов добавляется в
        словарь английского каждый год.
      </p>
      <p>
        17. Слово «girl» (девочка) раньше не подразумевало никакого определенного пола, а использовалось в значении
        «ребенок», «юное создание».
      </p>
      <p>
        18. Слово «google» происходит от слова «googol» – математический термин, обозначающий единицу со 100 нулями.
      </p>
      <p>
        19. Самое длинное английское слово, которое может быть написано без повторения каких-либо букв
        «uncopyrightable».
      </p>
      <p>
        20. Забавно, что одно из самых трудных для произношения слов в английском языке – слово «pronunciation»
        (произношение).
      </p>
      <p>
        21. Можно спокойно убрать последние четыре гласные в слове «queue» (очередь), и его произношение не изменится.
      </p>
      <p>
        22. Если перевернуть слово «SWIMS», то мы снова получим «SWIMS». Такие слова называются – амбиграммы.
      </p>
      <p>
        23. Чтобы расставить все точки над «і», нужно узнать, как называется эта самая точка. Ее называют «superscript
        dot» или просто a «tittle» (капелька).
      </p>
      <p>
        24. И раз уж мы заговорили о знаках. Амперсанд (знак &) – символ, который обозначает союз «и» раньше был
        полноценной буквой английского алфавита.
      </p>
      <p>
        25. Существует так называемая Оксфордская запятая (Oxford comma) – это запятая перед союзом «and» в конце
        перечисления. Например, “I drink coffee, tea, and wine” (Я пью кофе, чай и вино).
      </p>
      <p>
        26. Из слова «therein» можно составить 10 новых слов, не меняя буквы местами: the (определенный артикль), there
        (там), he (он), in (в), rein (вожжи), her (её), here (здесь), ere (до), therein (в этом отношении), herein (в
        этом).
      </p>
      <p>
        27. Самые старые английские слова, которые употребляются и сегодня: town, I, we, two, three.
      </p>
      <p>
        28. На английском каждый континент начинается и заканчивается на одну и ту же букву: America, Antarctica,
        Europe, Asia, Australia и Africa.
      </p>
      <p>
        29. А вы знали, что многие из привычных для нас слов английского языка появились на свет благодаря Шекспиру? Вот
        несколько из них: lonely, addiction, birth place, blushing, manager, eyeball, fashionable, uncomfortable,
        torture.
      </p>
      <p>
        30. 1,5 миллиарда людей в мире говорят на английском, а ещё 2 миллиарда его изучают.
      </p>
    </div>
  </div>

  <div class="center_div">
    <mat-form-field class="form-field" color="accent">
      <mat-label>Поиск</mat-label>
      <input matInput type="text" autocomplete="off" [(ngModel)]="findWord" (input)="checkFind()">
    </mat-form-field>

    <div class="container_words_div" (click)="checkSelectedWords()">
      <app-lite-word *ngFor="let item of dictionaryArray" [word]="item"></app-lite-word>
    </div>
  </div>

  <div class="right_div">

    <h2>Выбранно <strong>{{numberSelectedWords}}</strong> слов</h2>

    <mat-divider></mat-divider>

    <p>Выбор количества слов с конца словаря</p>
    <mat-form-field color="accent">
      <mat-label>Выбор количества слов</mat-label>
      <mat-select #selElemEnd value="off" (selectionChange)="setWordsFromEnd($event)">
        <mat-option value="off">Выключено</mat-option>
        <mat-option value="10">10 слов</mat-option>
        <mat-option value="20">20 слов</mat-option>
        <mat-option value="30">30 слов</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-divider></mat-divider>

    <p>Выбор количества случайных слов со всего словаря</p>
    <mat-form-field color="accent">
      <mat-label>Выбор количества слов</mat-label>
      <mat-select #selElemRandom value="off" (selectionChange)="setRandomWords($event)">
        <mat-option value="off">Выключено</mat-option>
        <mat-option value="10">10 слов</mat-option>
        <mat-option value="20">20 слов</mat-option>
        <mat-option value="30">30 слов</mat-option>
        <mat-option value="50">50 слов</mat-option>
        <mat-option value="75">75 слов</mat-option>
        <mat-option value="100">100 слов</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-divider></mat-divider>

    <button mat-raised-button color="warn" [disabled]="numberSelectedWords == 0" (click)="resetAll()">
      Сбросить все</button>
    <button mat-raised-button color="warn" [disabled]="numberSelectedWords == 0" (click)="toLearn()">Изучить</button>

  </div>
</div>
