.reverse-toggle {
  display: inline-flex;
  justify-content: center;
  background-color: rgba(87, 87, 87, 0.1);
  font-size: 30px;
  padding: 5px;
  width: 50px;
  cursor: pointer;
  transition: background-color 0.2s linear;
  position: absolute;
  right: 20px;
  border-radius: 5px;

  &:hover {
    background-color: rgba(87, 87, 87, 0.25);
  }

  div {
    padding: 0;
    transition: all 0.5s;
  }

  .rotate {
    transform: rotate(180deg);
  }

  mat-icon {
    transform: rotate(-90deg);
  }
}
