<header>
  <div class="dictionary_label_div">
    <h1>Словарь содержит <strong>{{this.data.getDictionarySize()}}</strong> слов.</h1>
  </div>

  <div class="tab_div">

    <!--    <a routerLink="">-->
    <!--      <button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" mat-raised-button>Изучение-->
    <!--      </button>-->
    <!--    </a>-->

    <!--    <mat-divider [vertical]="true"></mat-divider>-->

    <!--    <a routerLink="/dictionary">-->
    <!--      <button routerLinkActive="active" mat-raised-button>Словарь</button>-->
    <!--    </a>-->

    <!--    <mat-divider [vertical]="true"></mat-divider>-->

    <!--    <a routerLink="/select-words">-->
    <!--      <button routerLinkActive="active" mat-raised-button color="">Выбрать слова</button>-->
    <!--    </a>-->

    <!--    <mat-divider [vertical]="true"></mat-divider>-->

    <!--    <a routerLink="/groups">-->
    <!--      <button routerLinkActive="active" mat-raised-button color="">Группы слов</button>-->
    <!--    </a>-->


      <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Изучение</a>

      <a routerLink="/dictionary" routerLinkActive="active">Словарь</a>

      <a routerLink="/select-words" routerLinkActive="active">Выбор слов</a>

      <a routerLink="/groups" routerLinkActive="active">Группы слов</a>


  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
