<header>
  <div class="dictionary_label_div">
    <h1>Словарь содержит <strong>{{this.data.getDictionarySize()}}</strong> слов.</h1>
  </div>

  <div class="tab_div">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" (click)="clickLink()">Изучение</a>

    <a routerLink="/dictionary" routerLinkActive="active" (click)="clickLink()">Словарь</a>

    <a routerLink="/select-words" routerLinkActive="active" (click)="clickLink()">Выбор слов</a>

    <a routerLink="/groups" routerLinkActive="active" (click)="clickLink()">Группы слов</a>

    <a routerLink="/info" routerLinkActive="active" (click)="clickLink()">Справка</a>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
