<header>
  <div class="dictionary_label_div">
    <h1>Словарь содержит <strong>{{this.data.getDictionarySize()}}</strong> слов.</h1>
  </div>

  <div class="tab_div">

    <a routerLink="">
      <button routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" mat-raised-button>Изучение
      </button>
    </a>

    <mat-divider [vertical]="true"></mat-divider>

    <a routerLink="/dictionary">
      <button routerLinkActive="active" mat-raised-button>Словарь</button>
    </a>

    <mat-divider [vertical]="true"></mat-divider>

    <a routerLink="/select-words">
      <button routerLinkActive="active" mat-raised-button color="">Выбрать слова</button>
    </a>

    <mat-divider [vertical]="true"></mat-divider>

    <a routerLink="/groups">
      <button routerLinkActive="active" mat-raised-button color="">Группы слов</button>
    </a>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
