header {
  height: 100px;
  max-width: 1920px;

  border-bottom: 2px solid white;
  display: flex;
  justify-content: space-between;

  .dictionary_label_div {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 1rem;

    h1 {
      color: white;
      font-size: 2rem;
      margin: 0;
    }
  }

  .tab_div {
    width: 100%;
    max-width: 800px;
    padding: 12px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    a {
      background-image: linear-gradient(#f44336 50%, #f44336 50%), linear-gradient(transparent 50%, transparent 50%);
      background-position: center bottom;
      background-repeat: no-repeat;
      background-size: 0 3px, 100% 3px;
      transition: 0.3s ease-in-out;
      text-decoration: none;
      font-size: x-large;
      color: rgba(255, 255, 255, 0.75);
      padding: 10px;

      &:hover {
        background-size: 100% 3px, 100% 3px;
      }

    }

    .active {
      background-size: 100% 3px, 100% 3px;
      color: white;
    }
  }

  mat-divider {
    align-self: stretch;
    border-right-color: white;
  }
}

.container {
  max-width: 1920px;
}

