<div class="container">
  <div class="left_div" (click)="isScrollTextInfo = !isScrollTextInfo">
    <div [ngStyle]="{overflow: isScrollTextInfo ? 'auto' : 'hidden'}">
      <p>
        АНГЛИЙСКИЙ ЯЗЫК принадлежит к германской группе языков, в которую также входят немецкий, голландский, шведский и
        другие языки. Однако, несмотря на свою близкую родственность с указанными языками, английский обладает рядом
        особенностей, которые отличают его не только от германских языков, но и вообще от всех языков мира. Если вы
        учите
        английский язык либо собираетесь это делать, то представлять в общем и целом его “мели и рифы” было бы весьма
        желательно.
      </p>
      <p>
        Мы предлагаем вам краткий обзор особенностей, которые вам следует учитывать, изучая английский язык.
      </p>
      <p>
        Итак, написание и чтение слов – это, пожалуй, лидер в “хит-параде” особенностей и сложностей английского языка.
        Дело в том, что английские слова читаются вовсе не так, как пишутся. Посмотрите, к примеру на слово daughter.
        Если
        это слово прочесть по буквам, как это делается в большинстве других языков, то получится “даугхтер”. Но на самом
        деле это слово читается просто “дотэ”. Часто даже сами носители языка просят друг друга произнести те или иные
        слово по буквам, например имена, когда они знакомятся друг с другом.
      </p>
      <p>
        Английский язык, конечно же, обладает определенными правилами чтения, но еще большим количеством исключений.
        Некоторые педагоги даже предпочитают не тратить время на обучение учеников правилам чтения и вместо этого
        рекомендуют заучивать написание и чтение слов наизусть. Кстати, этот подход неплохо себя оправдывает.
      </p>
      <p>
        Следующим по сложности критическим моментом, которым английский язык отличается от других языков, и который
        изрядно портит нервы народу, является система грамматических времен. Так, если в русском языке имеется только
        одно настоящее время, и носители русского употребляют его во всех ситуациях, то в английском языке существует
        четыре вида настоящего времени, причем каждый вид имеет свои собственные границы использования. Так, если
        действие происходит прямо сейчас, то следует использовать время, которое называется Present Continuous. Если же
        действие уже свершилось, но от него остался результат в настоящем, то употребляется Present Perfect. То же самое
        касается будущего и прошедшего времени. Часто границы употребления того или иного времени так размыты, что
        приходится перелопатить гору материалов, прежде чем что-то понять.
      </p>
      <p>
        Английский язык отличается от многих других языков особым употреблением предлогов. Так, очень часто приходится
        заучивать наизусть глаголы с последующими предлогами, например: wait for (ждать кого-либо), look forward to (с
        нетерпением ждать чего-либо) и т.п. Глаголы с последующими предлогами могут образовывать особые фразовые
        единства, которые доставляют немало хлопот тем, кто учит английский язык.
      </p>
      <p>
        Порядок слов – это еще один параметр, по которому английский язык отличается от других языков мира, и на который
        следует обращать внимание при изучении английского языка. В английском языке порядок слов очень важен для
        адекватного понимания смысла предложения. Например, в русском языке мы можем построить два предложения с
        одинаковым смыслом “Эта женщина любит этого мужчину.” и “Этого мужчину любит женщина.” . Эти предложения
        отличаются друг от друга только порядком слов, но не смыслом. Английский язык подообны вольностей не допускает:
        This woman loves this man. и This man loves this woman. – это два разных предложения с разным смыслом.
      </p>
      <p>
        Но на самом деле в английском языке не все так печально. Например, по сравнению с другими языками, английский
        язык имеет минимальный набор окончаний. Так, в английском языке имеется окончание -s, которое добавляется к
        существительным для образования множественного числа: table – tables (стол-столы), car – cars (машина – машины)
        и т.п. Также окончание -s добавялется к глаголам в третьем лице единственного числа (he, she, it): he starts (он
        начинает), she knows (она знает). К английском правильным глаголам в прошедшем времени добавляется окончание
        -ed: work – worked (работать – работал), turn – turned (повернуть – повернул) и т.д. Больше окончаний английский
        язык не имеет.
      </p>
      <p>
        В заключении краткого обзора хотелось бы подчеркнуть, что все трудности преодолимы при наличии настоящего
        желания выучить английский язык и активных осознанных действий, направленных на достижение данной цели.
      </p>
    </div>
  </div>

  <div class="center_div">
    <mat-form-field appearance="standard" class="form-field" color="accent" (click)="clrSel()">
      <mat-label>Поиск</mat-label>
      <input matInput type="text" autocomplete="off"
             [(ngModel)]="findWord"
             (input)="checkFind()"
      >
    </mat-form-field>

    <app-toggle-turn appSound="control" (onReverse)="reverseArray($event)"></app-toggle-turn>

    <div class="container_words_div">
      <h1 *ngIf="data.dictionary.size === 0" style="color: white; text-align: center">Список слов пуст.</h1>
      <app-word-component *ngFor="let item of dictionaryArray"
                          [word]="item"
                          [mark]="item.mark"
                          (onSelected)="selectedWord($event)"
                          appSound="control"
      ></app-word-component>
    </div>
  </div>

  <div class="right_div">
    <mat-form-field appearance="outline" class="form-field" color="accent" (click)="clrSel()">
      <mat-label>Добавление новых слов в словарь.</mat-label>
      <textarea matInput placeholder="Формат ввода: << слово = перевод >>" autocomplete="off"
                [(ngModel)]="text"
                (input)="checkEmptyField()"
      ></textarea>
    </mat-form-field>
    <div class="btn_new_words_div">
      <button appSound="btn" mat-raised-button color="warn" [disabled]="isEmptyField" (click)="addNewWords()">Добавить
      </button>
      <button appSound="btn" mat-raised-button color="warn" [disabled]="isEmptyField" (click)="clearField()">Очистить
        поле
      </button>
    </div>

    <mat-divider></mat-divider>
    <p>Действия над выделенным словом</p>
    <div class="btn_new_words_div">
      <button appSound="btn" mat-raised-button color="warn" [disabled]="enableBtnSelWord"
              (click)="controlSelectedWord(1)">
        Редактировать
      </button>
      <button appSound="btn" mat-raised-button color="warn" [disabled]="enableBtnSelWord"
              (click)="controlSelectedWord(2)">Сохранить
      </button>
    </div>
    <div class="btn_new_words_div">
      <button appSound="btn" mat-raised-button color="warn" [disabled]="enableBtnSelWord"
              (click)="controlSelectedWord(3)">Отмена
      </button>
      <button appSound="btn" mat-raised-button color="warn" [disabled]="enableBtnSelWord"
              (click)="controlSelectedWord(4)">Удалить
      </button>
    </div>
    <mat-divider></mat-divider>
    <p>Удаление словаря</p>
    <div class="btn_new_words_div">
      <button appSound="btn" mat-raised-button color="warn" (click)="deleteAllDictionary()"
              [disabled]="data.dictionary.size === 0">
        Удалить словарь
      </button>
    </div>
  </div>
</div>

<app-dialog
  *ngIf="isDeleteDictionaryDialog"
  dialog="Вы действительно хотите удалить весь словарь?"
  textButtonClose="Отмена"
  textButtonAgree="Удалить"
  [danger]="true"
  (onAgree)="deleteDictionary()"
  (onClose)="isDeleteDictionaryDialog = false"
></app-dialog>

<app-dialog
  *ngIf="isDeleteWord"
  dialog="Вы действительно хотите удалить данное слово из словаря?"
  textButtonClose="Отмена"
  textButtonAgree="Удалить"
  [danger]="true"
  (onAgree)="deleteWord()"
  (onClose)="isDeleteWord = false"
></app-dialog>
