
<div class="container">
  <h2>Справка и руководство пользования словарем</h2>

  <mat-tab-group color="warn" dynamicHeight mat-align-tabs="center">
    <mat-tab label="Общее">
      <div class="content">
        <p>
          Словарь предназначен для индивидуального изучения слов и выражений английского языка. Все данные сохраняются
          на устройстве пользователя.
        </p>
        <p>
          Для использования приложения, в словарь необходимо добавить слова с переводом (см. вкладку "Словарь"), например:
        </p>
<pre>
Seem = кажется, казаться
Happen = происходить, случаться
Fluently = свободно
Wash up the dishes = мыть посуду
Relax = отдыхать
Cry = плакать
Cost = стоить
Also = также
Their =	их
Buy = купить
</pre>
        <p>
          ВАЖНО! Слово и перевод должны быть разделены символом "=". Регистр при этом не важен.
        </p>
        <p>
          Доступна работа со всем словарем, выделенными пользователем словами, последними добавленными в словарь,
          словами, случайным образом отобранными со всего словаря, а также набором слов, объединенных пользователем в группы.
        </p>
        <p>
          Можно тренироваться как в переводе с русского на английский, так и с английского на русский.
        </p>
        <p>
          Перейдите на вкладку "Изучение" данного руководства для ознакомления с правилами использования данного тренажера.
        </p>
      </div>
    </mat-tab>
    <mat-tab label="Изучение">
      <div class="content">
        <p>
          Вкладка "Изучение" данного приложения является главной и служит для тренировки навыков пользователя в запоминании
          и переводе слов и выражений английского языка.
        </p>
        <p>
          Она состоит из трех вертикальных колонок. Левая колонка содержит общую информацию о английском языке.
          В центральной колонке находятся поля и кнопки для работы со словами, которые используются для изучения.
          Правая колонка содержит органы управления и настройки режимов работы тренажера. Рассмотрим их подробнее.
        </p>
        <p>
          Центральная колонка содержит поле вывода слова или выражения для перевода, поле для ввода перевода, кнопок проверки
          перевода, переключения на следующее или предыдущее слово словаря, а также кнопка для отображения правильного перевода
          текущего слова или выражения.
        </p>
        <p>
          Также присутствуют индикаторы индекса текущего слова из всего списка используемых слов, количество используемых слов,
          а также индикатор количества сделанных пользователем ошибок перевода, который появляется при наличии таких ошибок.
        </p>
        <p>
          При проверке перевода, в нижней части центральной колонки отображается статус правильности перевода, при этом
          он может сопровождаться звуковыми сигналами, если они включены. Для включения/выключения звуковых сигналов служит кнопка
          в нижнем правом углу вкладки.
        </p>
        <p>
          В правой колонке расположены переключатели языка, случайного порядка вывода слов, повтора слов, а также переключатели
          использования различного набора слов.
        </p>
        <p>
          По умолчанию используется стандартная последовательность слов для работы в том порядке, в котором они находятся в словаре.
          Если активировать "Случайный порядок" - последовательность вывода слов будет случайной. Также, по умолчанию повтор слов запрещен.
          Это значит, что при достижении конца словаря переход к началу не осуществляется. Для снятия этого ограничения следует активировать
          параметр "Повтор слов".
        </p>
        <p>
          Индикатором использования того или иного набора слов, является группа переключателей с графой "Использовать:".
          Они же используются для переключения в тот или иной режим используемых наборов слов. По умолчанию используется набор слов из всего
          словаря. Если переключиться в режим использования "Выделенные слова", то будет осуществлен переход на вкладку "Выбор слов"
          для управления набором из отмеченных пользователем слов. Соответственно, если переключиться в режим "Группа слов" - будет переход
          на вкладку "Группы слов", где пользователь может управлять группами слов.
        </p>
      </div>
    </mat-tab>
    <mat-tab label="Словарь">
      <div class="content">
        <p>
          Вкладка "Словарь" используется для добавления новых слов в словарь, а также редактирования или удаления словаря.
          Также состоит из трех колонок. В левой колонке выводится информация о английском языке, в центральной выводиться список
          слов, из которых состоит словарь, а в правой колонке находятся элементы управления. Рассмотрим их более детально.
        </p>
        <p>
          Чтобы ознакомиться с полной информацией о английском языке, кликните по левой колонке, при этом в ней появится полоса прокрутки.
          Если кликнуть еще раз - она исчезнет.
        </p>
        <p>
          Как было сказано выше, в центральной колонке находиться список слов из которых состоит словарь. При клике по выбранному элементу
          списка становиться доступен режим редактирования данного элемента (становятся активны элементы управления в правой колонке).
          Также присутствует поле "Поиск" для удобного поиска по списку словаря.
        </p>
        <p>
          В правой колонке вкладки находятся поле для добавления новых слов, элементы управления над выбранным словом из списка,
          а также кнопка удаления всего словаря. Для добавления новых слов необходимо вписать или скопировать текст в поле "Добавление новых слов в словарь."
          Формат ввода должен быть следующим: "brother = брат", то есть, сначала идет слово английского языка, потом символ "=" и слово перевод.
          Если таких выражений более одного, то каждое ДОЛЖНО начинаться с новой строки. Регистр при этом не имеет значения.
          При удалении отдельного слова или всего словаря, сначала появится диалоговое окно, в котором можно отменить процесс или продолжить удаление элемента.
        </p>
      </div>
    </mat-tab>
    <mat-tab label="Выбор слов">
      <div class="content">
        <p>
          Вкладка "Выбор слов" служит для того, чтобы пользователь мог сам отметить желаемые слова для дальнейшего изучения,
          либо воспользоваться опциями по автоматическому отбору слов для изучения. Состоит из трех колонок.
        </p>
        <p>
          В левой колонке выводятся интересные факты об английском языке, в центральной список слов из которых состоит словарь, а в правой
          находятся элементы автоматического отбора слов по некоторым критериям и элементы управления.
        </p>
        <p>
          Если кликнуть по элементу списка, то он добавится в список для дальнейшего изучения и станет "выделенным".
          если кликнуть по нему еще раз - он удалится из списка для изучения, а сам элемент перестанет быть "выделенным".
          Таким образом пользователь может создать список для изучения, состоящий из набора желаемых слов.
          Также пользователь может задать список слов для изучения с помощью элементов отбора с фиксированными значениями.
          Первый служит для отбора слов с конца словаря, а второй для отбора слов в случайном порядке со всего словаря.
        </p>
        <p>
          Чтобы сбросить все отмеченные слова, следует кликнуть по соответствующей кнопке. Чтобы приступить к изучению
          отмеченных слов нажмите кнопку "Изучить", при этом будет осуществлен переход на вкладку "Изучение".
        </p>
      </div>
    </mat-tab>
    <mat-tab label="Группы слов">
      <div class="content">
        <p>
          Вкладка "Группы слов" предназначена для работы с группами слов. Группы служат для объединения слов по разным
          категориям и критериям, что делает изучение языка более удобным.
        </p>
        <p>
          Для добавления новой группы нажмите соответствующую кнопку в правой колонке, при этом в правой колонке появятся
          поле для ввода названия группы, информация о содержании группы и кнопки управления. В левой колонке появится
          список доступных слов
          для добавления в группу. Данный список соответствует всему списку слов содержавшихся в словаре на данный момент.
          Чтобы добавить необходимое слово в группу, следует кликнуть по нему, при этом, само слово в списке станет
          "отмеченным",
          а также оно появится в правой колонке вкладки в разделе "Содержание группы". Наоборот, чтобы удалить слово из
          группы, следует кликнуть по "отмеченному" слову в левой колонке, при этом оно перестанет быть "отмеченным" и
          исчезнет из правой колонки. Также присутствует поиск по словарю, что обеспечивает удобность работы.
        </p>
        <p>
          Для просмотра и редактирования группы следует кликнуть либо по карточке группы, либо по кнопке "Редактировать".
          При этом в левой колонке будет отображен список слов словаря, причем слова, которые содержатся в текущей группе,
          будут "отмеченными". В правой колонке будет отображена информация о содержании группы. Добавление и удаление
          слов в группе
          производится методом, описанным выше. Для того, чтобы сохранить изменения следует кликнуть по кнопке "Сохранить
          изменения". Чтобы выйти из режима редактирования кликните по "отмеченной" карточке. Также можно переключаться
          между карточками групп кликом по ним.
        </p>
        <p>
          Для удаления группы кликните по кнопке "Удалить" на карточке соответствующей группы. При этом появится
          диалоговое окно
          для подтверждения вашего намерения, где можно будет согласиться или отменить действие.
        </p>
        <p>
          Чтобы приступить к изучению необходимой группы слов, следует кликнуть по кнопке "Изучить" на карточке соответствующей группы,
          после чего будет открыта вкладка "Изучение", на которой будут использованы слова из выбранной группы.
        </p>
      </div>
    </mat-tab>
    <mat-tab label="Контакты">
      <div class="content">
      Связаться с автором и разработчиком данного приложения можно, написав письмо на адрес электронной почты
      <strong>andreykolesnikov1605@gmail.com</strong>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
