<div class="card_container"
(click)="clickCard($event)"
[ngClass]="{
    selected_card: group.selected
}"
>
    <h2>{{group.name}}</h2>
    <p>Содержит <strong>{{group.numberWords}}</strong> слов</p>
    <p>Создана <strong>{{group.dateCreate}}</strong></p>
    <p>Использовалась <strong>{{group.numberUse}}</strong> раз</p>
    <p>Последнее использование <strong>{{group.lastUse}}</strong></p>

    <div class="btn">
        <button mat-button color="warn">Изучить</button>
        <button mat-button color="warn" (click)="isDelete = true">Удалить</button>
        <button mat-button color="warn" (click)="editGroup()">Редактировать</button>
    </div>
</div>

<app-dialog *ngIf="isDelete"
            [dialog]="'Вы действительно хотите удалить группу: ' + group.name + '?'"
            [danger]="true"
            textButtonAgree="Удалить"
            textButtonClose="Отмена"
            (onAgree)="deleteGroup()"
            (onClose)="isDelete = false"
></app-dialog>
